html {
	background-image: url("../images/color_splash_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 30);
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.menu-color {
	background-color: black;
}

.menu-text {
	color: white;
}

.header-text {
	color: white;
}

.light-header-text {
	color: white;
}

.content-header {
	color: white;
}

.content-text {
	color: white;
}

.content-link {
	color: white;
}

.content-button {
	background-color: black;
	color: white;
}

footer {
	background-color: black !important;
}

.footer-text {
	color: white;
}

.material-footer-text {
	color: white;
}